
<body onload="loadAllItem_Admin()">
    <div class="col-6">
        <h2>All items</h2>
    </div>
    <div>
    </div>


    <div style="width: 80%;" class="mx-auto">
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Item Id</th>
                    <th>Item Name</th>
                    <th>Collection</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</body>

<script src="~/js/item/admin/loadAllItem_Admin.js"></script>
