
<body onload="loadMyTicket()">
    <div class="col-6">
        <h2>My Tickets</h2>
    </div>
    <div>
    </div>


    <div style="width: 80%;" class="mx-auto">
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Summary</th>
                    <th>Reference Url</th>
                    <th>Status</th>
                    <th>Created At</th>
                </tr>
            </thead>

        </table>
    </div>
</body>

<script src="~/js/loadMyTicket.js"></script>